{# {% extends 'base.html.twig' %} #}

{# {% block title %}Hello AjaxController!{% endblock %} #}

{% block body %}

{% block header %}{% endblock %}
    {% for questionnaire in result %}
    <div>
      <a href="{{ path('quest', { id : questionnaire.id }) }}">{{ questionnaire.name }} - {{ questionnaire.difficulty }}</a>
    </div>
    {% endfor %}
{% endblock %}
