

<span class="slide proposition" id="{{proposition.id}}">
<a href="{{path('DelAjaxProp')}}" class="delProp" data="{{proposition.id}}">
<i class="fas fa-trash-alt"></i></a ><div>{{proposition.text}}</div></span>